<html>
<head>
	<title>Test</title>
    <meta charset="UTF-8" />
</head>
<style>
	.mainpannel{
		width:60%;
		margin-left:auto;
		margin-right:auto;
		text-align:center;
		-webkit-box-shadow:2px 2px 5px #333333;
	}
	.show{
		text-align:left;
		width:180px;
		margin-left:auto;
		margin-right:auto;
		-webkit-box-shadow:2px 2px 5px #333333;
	}
	hr{width:90%}
</style>
<body>

<p>
<div class="mainpannel">
	<h1>TZN Framework!</h1>
	<hr/>
	<h2>Hello Word !</h2>
	<div class="show">
<PRE>

  app
    | controllers
        Index.php
    | models
        Index_model.php
    | views
        index.html
    config.php
    
</PRE>
	</div>
	<br/>
	
</div>
</p>

</body>
</html>